*{
    margin: 0;
    padding: 0;
    user-select: none;
}
marquee{
    text-align: center;
    padding: 3px 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;  
}
marquee h5{
    color: #535050;
    font-size: 17px;
}
.row{
    background:#a41f1f;
}

.icons{
    text-align: right;
}
.icons i{
    font-size: 21px;
    padding: 0px 20px;
    cursor: pointer;
}
.navbar{
    background-color: #c1f6ff;
    padding: 5px 0;
    background-size: auto;
}
.apps{
    margin-left: 10rem;
}
.nav-item{
    padding: 0 20px;
}
@media(max-width:800px) {
    .nav-item{
        padding: 0;
    }
    .apps{
        margin-left: 0;
    }
    .navbar-nav{
        display: block;
    }
    marquee h5{
        font-size: 16px;
    }
}
@media(max-width:500px){
    .icons{
        text-align: center;
    }

}
@media (min-width:900px) and (max-width1200px) {
    .nav-item{
        padding: 0;
    }
    .apps{
        margin-left: 0;
    }
    .navbar-nav{
        display: block;
    }
    
}
.btn{
    border-radius: 5px;
    margin: 8px 0;
    
}
