.row{
    margin: 10px;
    background-color: transparent;
    text-align: center;
}
.users h4{
    color: #ffad0a;
    font-weight: 700;
    font-size: 28px;
    padding: 5px 0px;
    
}
.users{
    margin: 30px auto;
    text-align: center;
}
.users a{
    text-decoration: none;
    margin: 5px;
    color: #fff;
    padding: 5px 5px;
    border-radius: 2px;
    font-size: 15px;
}
.user{
    background-color: #ffad0a;
}
.js{
    background-color: #0f48a3;
    font-weight: 600;
}
.boxs{
    margin: 20px auto;
    text-align: left;
    box-shadow: 3px 5px 10px #e8e8e8;
    max-width: 95%;
}
.boxs h5{
    text-align: center;
    font-weight: 600;
    font-size: 19px;
    color: #ffad0a;
}
.boxs li{
    font-size: 15px;
    word-spacing: 3px;
    color: #373737;
}
.accordion-button{
    background-color: #ffa50a;
}
.accordion-item{
    margin: 5px 25px;
}
.accordion-button{
    font-weight: 600;
}
.accordion-body{
    padding-top:  5px;
    text-align: left;
    height: 140px;
    overflow: scroll;
}
@media screen and (max-width:500px){
    .users a{
        padding: 3px 2px;
        font-size: 13px;
    }
    
}